header h1 {
  text-align: center;
  font-size: 40px;
  color: rgba(25, 5, 245, 0.79);
  animation: bouncing 3.5s infinite alternate both;
  background-color: rgba(0, 0, 0, 0.916);
  border-radius: 50%;
  display: inline-block;
  color: aliceblue;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2em;
  padding: 0.7em 1.7em 0.8em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  margin-top: 10px;
  animation-timing-function: ease-in-out;
}

@keyframes bouncing {
  0% {
    left: 5%;
    box-shadow: 0 0 5px rgba(68, 87, 230, 0.994);
    background-color: black;
    color: aliceblue;
  }

  50% {
    left: 300;
    box-shadow: 0 0 5px rgba(68, 87, 230, 0.594);

  }

  100% {
    left: 70%;
    box-shadow: 0 0 5px rgba(68, 87, 230, 0.1);
    background-color: aqua;
    color: black;
  }
}

header {
  padding: 100px;
  background-color: rgb(17, 124, 143);
  background-image: url(/image/vote.jpg);
}


.container-fluid {
  background-color:black;
  border: #002bff solid 2px;

}

.middle {

  height: auto;
  width: 60%;
  margin-left: 10%;


}



.middle ul li {


  display: inline-block;
  margin-left: 2%;


}

.middle ul li a {
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  color: white;
  font-size: 22px;
 
  padding:1px;
  line-height: 50px;


}
.active a{
  background-color: rgb(73, 82, 91);
  border-radius: 9px;
 
}

.menu-right {
  height:auto;
  width: 30%;
}
.right{
  width: 100%;
  height: auto;
 
  display:inline-block;


}



.menu-right ul li {

  display:inline-block;
  margin-left: 5%;
  border-radius: 4px;

}

.menu-right ul li a {
 
  text-align: center;
  
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  color: rgb(241, 238, 238);
  font-size: 20px;
  padding: 2px;
  line-height: 50px;


}
i{
  padding:2px;
  
}

ul li:hover  a{
 
  border-radius: 5px;
  

}

ul li a:hover {
  color: rgb(40, 125, 189);
  background-color: white;
  
}

ul li a:active {
  color: orange;
}




.pca {
  width: 500px;
  color: aliceblue;
  height: 150px;
  border-style: solid black;
  border-width: 3px;
  letter-spacing: 0.6px;
  text-align: center;
  background-color: rgb(0, 102, 204);
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  animation: mymove 10s infinite;
  animation-timing-function: linear;
  transition: background-color 3s, color 2s, border-radius 2s;

}

.pca:hover {
  background-color: rgb(204, 255, 255);
  border-radius: 50%;
  color: black;
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 70%;
  }
}




.contain {
  position: relative;
  margin: 2%;

  padding: 2px;
}

.row {
  border-bottom: #000 solid 3px;
  margin: 10px;
  padding: 5px;
}


.newbox {

  border: 1px solid red;
  position: relative;
  overflow: hidden;



}

.image {
  width: 100%;
  height: 300px;
}


.newbox .cont {
  background-color: rgb(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;

  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 0.5s;



}

.newbox .cont h3 {

  text-align: center;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 


}

.newbox:hover .cont {
  left: 0px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

button {
  align-items: center;
}
.js{
  border: #ff0000 solid 5px;
}
.js h2{
  text-align: center;
  border: #ff0000 solid 5px;
}
.js p{
  display: inline;
}
span{
  color: #002bff;
}